EXPO_PUBLIC_API_URL="base url used for backend apis" # for android studio emulator, http://10.0.2.2:8080
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-client-ids
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-client-ids
EXPO_GOOGLE_CLIENT_SECRET=client-secret