DATABASE_URL=postgresql://user:password@localhost/flashcard_db
JWT_SECRET_KEY=d1AZRvM-V4JIKpIL050nUNL_yVUh3T5ctHWmb3_bZUT2XypSNBONhoYdqV3LnFdQDCRdq8QBRZYbBGB7bUjMNw
GOOGLE_CLIENT_ID=790770161612-lrvsu6hhtauqaof1bppkn45ut0ds42h4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
FLASK_ENV=development