#REMOVE FROM GITHUB AND REPLACE WITH YOUR OWN VALUES BEFORE DEPLOYMENT

POSTGRES_PASSWORD=figure_out_a_strong_password

# MinIO root credentials (use strong values)
MINIO_ROOT_USER=languine_admin
MINIO_ROOT_PASSWORD=figure_out_a_strong_password

# Cloudflare tunnel token (from Cloudflare dashboard after you create a tunnel)
CLOUDFLARED_TUNNEL_TOKEN=Tunnel_token
