#REMOVE FROM GITHUB AND REPLACE WITH YOUR OWN VALUES BEFORE DEPLOYMENT

POSTGRES_PASSWORD=figure_out_a_strong_password

# MinIO root credentials (use strong values)
MINIO_ROOT_USER=languine_admin
MINIO_ROOT_PASSWORD=figure_out_a_strong_password

# Cloudflare tunnel token (from Cloudflare dashboard after you create a tunnel)
CLOUDFLARED_TUNNEL_TOKEN=Tunnel_token

MW_DICT_API_KEY=your_mw_dictionary_api_key_here
DEEPL_API_KEY=your_deepl_api_key_here

FLASK_ENV=development
FLASK_DEBUG=1DATABASE_URL=postgresql://user:password@localhost/flashcard_db

# For Google Oauth
JWT_SECRET_KEY=your_jwt_secret_key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# for auth_integration test, can get from https://developers.google.com/oauthplayground
GOOGLE_TEST_ID_TOKEN=your_google_real_token_id