# Environment files
.env

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/

# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile

# Poetry config (local settings)
poetry.toml

# Documentation
README.md
*.md
docs/

# Other
important
